# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Environnement virtuel
venv/
env/
.env
.env.*
!.env.example

# Tests et coverage
htmlcov/
.coverage
.pytest_cache/
tests/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Logs
*.log

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db